input {
    width: 50px;
    height: 50px;
    border: 1 solid #e5e7eb;
    font-size: 35px;
    border-radius: .375rem;
    text-align: center;
    margin: 0.3px;
}

body {
    text-align: center;
}

nav {
    margin-top: 1px;
    font-size: 18px;
}

#timer,
#attempts,
#stage,
#timeLimit {
    font-size: 18px;
    margin-top: 10px;
}

progress {
    width: 7;
    /* 프로그레스바의 너비 */
    height: 20px;
    /* 프로그레스바의 높이 */
    background-color: green;
}

.hidden {
    display: none;
}

/* 언어 및 모드 선택 버튼 스타일 */
.select-btn {
    padding: 10px 20px;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
}

/* 게임 시작 버튼 스타일 */
.start-btn {
    font-size:1.1em; padding:5px 20px;
    
}